/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'CustomFont', Arial, sans-serif; /* Use custom font as default */
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Define @font-face rule */
@font-face {
    font-family: 'CustomFont'; /* Name to refer to the font */
    src: url('custom-font.otf') format('opentype'); /* Path to your font file */
}

.clan-name {
    font-family: 'CustomFont'; /* Use the imported font for clan name */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Main Content Styles */
main {
    padding: 20px;
}

.about-section,
.members-section {
    margin-bottom: 30px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
