/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: Arial, sans-serif; /* Fallback fonts for the body */
    background-color: #FFA500;
    color: #FFFFFF;
    text-shadow: 0px 0px 2px #000;
}
 
span {
    font-weight: bold;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Apply Google Font to Clan Name */
.clan-name {
    font-family: 'Noto Serif JP', serif; /* Use Noto Serif JP for clan name */
    font-weight: 600; /* Semibold (600) weight */
    text-shadow: 0px 0px 2.5px #000;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Main Content Styles */
main {
    padding: 20px;
}

.about-section,
.members-section, .join-section {
    margin-bottom: 15px;
}

.join-section {
    margin-top: 10px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
